.top-section {
    background-color: #2bcec1;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 48pt;
    color: #ffffff;
}

b {
   font-weight: 700; 
}

.row {
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #000000;
    padding-top: 4%;
    padding-bottom: 2%;
    height: 400px;
}

.blue-box,
.orange-box,
.green-box {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.blue-box {
    background-color: #35a9dd;
}

.orange-box {
    background-color: #f46930;
}

.green-box {
    background-color: #2bcec1;
}

.title-blocks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    color: #ffffff;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
}

p {
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200px;
}

/* @media (min-width: 992px) {
    .top-section {
        none
    }
    .title-blocks
    .row
} */

@media (max-width: 700px) {
    .top-section {
        background-color: #35a9dd;
        padding-left: 20px;
    }
}

@media (max-width: 700px) {
    .title-blocks {
        flex-direction: column;
        align-content: center;
    }
}

@media (max-width: 700px) {
    h2, p {
        color: #000000;
    }
}

@media (max-width: 700px) {
    .row {
        background-color: #ffffff;
        height: auto;
    }
}
